
/**
* @author: Andrea Abrudsky
*/

.backgroundRed {
    background-color: #a91e14;
}
.backgroundRed li a{
	color: #fff
}

.masthead {
  height: 400px;
  background-image: url('../img/napolitana.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mastheadPizza{
  height: 200px;
  background-image: url('../img/fun-pizza.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section#pizzas {
    margin-bottom: 50px;
}
#contentTitle h1{
	text-align: center;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
}
#contentTitleblack{
  text-align: center;
    color: #000;
    font-size: 2rem;
    padding: 1rem;
}
h4.card-price , h4.card-title{
	line-height: 20px;
    font-size: 1.3rem;

}
.card {
  cursor: pointer;
}
.card-titlebox {
    height: 40px;
}
h4.card-title {
    float: left;
    width: 70%;
}
h4.card-price {
	color:#a91e14;
  text-align: right;
}
p.card-text{
	margin-top: 12px;
}
ul#pizzasRow{
	margin-top: 40px;
}
ul#pizzasRow li.col-sm-6.col-lg-4 {
    list-style: none;
    float: left;
}
p.itemIng {
  width: 85%;
  float: left;
  line-height: 10px;
  padding-bottom: 0px;
  padding-top: 5px;
  font-size: 1.2rem;
  margin-top: 6px;
  margin-left: 10px;
}
#included{
  flex-direction: row;
  }    
#included i{
  color: #a91e14;
  font-size: 1.4rem;
  margin-top: 10px;
}
#included li{
    margin-bottom: 5px;
    border-radius: 19px;
    padding: 9px;
    float: left;
    margin-left: 5px;
}
.titlePrice{
  border-bottom:1px solid #a91e14;
  font-size: 20px;
  margin-bottom: 20px;
}
p#price {
    text-align: right;
    width: 75%;
}
p#price b{
  color: #a91e14;
}