//output:../index.html
doctype html
html
	head
	    title Technical Test PHP - TORO Advertising
	    meta(charset="utf-8")
	    meta(name="viewport", content="width=device-width, initial-scale=1")
	body
	    .container
	    	div
			  	p Hola
			  	p mundo!
